/* ALL PAGES */
* {
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

h1 {
    padding-top: 1vw;
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

h2 {
    text-align: center;
    font-size: 18px;
}

h3 {
    text-align: center;
    font-size: 14px;
}

/* LOGIN PAGE */
#forgot-password {
    color: #175570;
}
#forgot-password:hover {
    text-decoration: underline;
}

#new-account {
    color: #175570;
}
#new-account:hover {
    text-decoration: underline;
}