/* ALL PAGES */
* {
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

:root{
    --light-green: #b5ca46; 
    --light-blue: #52A3E3; 
    --dark-green: #42562B;
    --beige: #FEFAE0;
    --orange: #EE9B00;
    --dark-blue: #064763;
    --white: #FFFFFF;
    --black: #000000;
    --fontWeight-normal: 400; 
    --fontWeight-bold: 700; 
    --fontWeight-semibold: 500; 
}

h1 {
    padding-top: 1vw;
    text-align: center;
    font-size: 36px; 
    font-weight: var(--fontWeight-bold);
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: var(--fontWeight-semibold);
}

h3 {
    text-align: center;
    font-size: 20px;
    font-weight: var(--fontWeight-normal);
}

p {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.container{
    display: flex; 
    justify-content: space-evenly; 
}

.center{
    width:80%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
}

.about img{
    width:15vw;
    height:auto;  
    border-radius: 50%;
    padding: 4vh 1vw; 
}

.landing-top{
    width:40%; 
    text-align: right;
    margin-left: 50vw; 
}

.address-search {
    display: flex;
    justify-content: center;
}

#submit-box {
    border: 1px solid #000;
    background-color: var(--orange);
    padding: 8px 10px;
}

#search-ico {
    height: 20px;
}

#textbox {
    padding-left: 10px;
    padding-right: 10px;
}

.landing-top h1{
    text-align: right;
}
.landing-top h3{
    text-align: right;
}

.landing-middle h1{
    text-align: left;
    padding-left: 8vw;
}
.landing-middle img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:85%; 
}
.landing-middle h3{
    width:60%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
}

.landing-bottom{
    background: var(--beige);
}

.browse-address h2{
    text-align: left;
    padding-left:100px;
}

.container-browse{
    display: flex; 
    padding-left: 100px;
    float: left;
    justify-content: space-evenly; 
    
}

.filter h2{
    text-align: left;
}

.container-2{
    display: flex;
    justify-content: flex-start;
}


.containerdivNL{
    margin-top: -90px;
    padding: 100px;
    clear: both; 
    float: left; 
    display: block;
}

#sort-label {
    margin-right: 20px;
}

#dropdown-label {
    background: transparent;
    border-style: none;
    color: #000;
    font-size: 15px;
    align-content: center;
}