/* ALL PAGES */
* {
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

:root{
    --light-green: #b5ca46; 
    --light-blue: #52A3E3; 
    --dark-green: #42562B;
    --beige: #FEFAE0;
    --orange: #EE9B00;
    --dark-blue: #064763;
    --white: #FFFFFF;
    --black: #000000;
    --fontWeight-normal: 400; 
    --fontWeight-bold: 700; 
    --fontWeight-semibold: 500; 
}

h1 {
    padding-top: 1vw;
    text-align: center;
    font-size: 48px; 
    font-weight: var(--fontWeight-bold);
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: var(--fontWeight-semibold);
}

h3 {
    text-align: center;
    font-size: 24px;
    font-weight: var(--fontWeight-normal);
}

p {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.container{
    display: flex; 
    justify-content: space-evenly;
}


